<%- include ('partials/header.ejs') %>
<body>
    <%- include ('partials/navbar.ejs') %>
    <div class="container" id="main-div">
        <hr>
        <h1><%= perg.titulo %></h1>
        <p><%= perg.descricao %></p>
        <hr>
    </div>
    
<%- include ('partials/footer.ejs') %>
